<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipes</title>
    <link rel="shortcut icon" href="../../images/guitar.png" />
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <a href="/recipes/list">All Recipes</a>
        </div>
        <div>
            <a href="/recipes/new">Add Recipe</a>
        </div>
        <div>
            <a href="/ingredients/search">Search by Ingredient</a>
        </div>
    </div>
</body>

</html>
