<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="../../images/guitar.png" />
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div>
        <h1>All Recipes</h1>
    </div>
    <h2>ENTREES</h2>
    {{#entrees}}
    <h2><a href="{{link}}">{{name}}</a> - Last eaten: {{date_last_eaten}}</h2>
    <div style="position:relative; left:20px; margin-top:-20px">
        <h3><a href="" data-id="recipe{{id}}" id="recipe{{id}}" class="recipe">List Ingredients</a></h3>
        <div class="ingredients" style="display:none">
            {{#ingredients}}
            <h4>{{.}}</h4>
            {{/ingredients}}
        </div>
    </div>
    {{/entrees}}
    <h2>SIDES</h2>
    {{#sides}}
    <h2><a href="{{link}}">{{name}}</a> - Last eaten: {{date_last_eaten}}</h2>
    <div style="position:relative; left:20px; margin-top:-20px">
        <h3><a href="" data-id="recipe{{id}}" id="recipe{{id}}" class="recipe">List Ingredients</a></h3>
        <div class="ingredients" style="display:none">
            {{#ingredients}}
            <h4>{{.}}</h4>
            {{/ingredients}}
        </div>
    </div>
    {{/sides}}
    <h2>SAUCES</h2>
    {{#sauces}}
    <h2><a href="{{link}}">{{name}}</a> - Last eaten: {{date_last_eaten}}</h2>
    <div style="position:relative; left:20px; margin-top:-20px">
        <h3><a href="" data-id="recipe{{id}}" id="recipe{{id}}" class="recipe">List Ingredients</a></h3>
        <div class="ingredients" style="display:none">
            {{#ingredients}}
            <h4>{{.}}</h4>
            {{/ingredients}}
        </div>
    </div>
    {{/sauces}}
    <div style="position:absolute; top:5px; right:50px">
        <h2><a href="/recipes/new">Add New Recipe</a></h2>
        <h2><a href="/ingredients/search">Search by Ingredient</a></h2>
        <h2><a href="/recipes/list">List All Recipes</a></h2>
        <h2><a href="/recipes/update">Recipe Diary</a></h2>
    </div>
</body>

</html>
