<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Recipe</title>
    <link rel="shortcut icon" href="../../images/guitar.png" />
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="title">Add New Recipe</h1>
        </div>
        <form action="/recipes/" method="POST">
            <label for="name">Name</label>
            <br>
            <input class="input" id="name" type="text" name="recipe[name]" placeholder="Recipe Name">
            <br>
            <label for="link">Link</label>
            <br>
            <input class="input" id="link" type="text" name="recipe[link]" placeholder="Recipe Link">
            <br>
            <label for="link">Ingredients</label>
            <br>
            <input class="input" id="ingredients" type="text" name="recipe[ingredients]" placeholder="Recipe Ingredients (comma separated">
            <br>
            <label for="type">Type</label>
            <br>
            <select class="input" id="type" name="recipe[type]" placeholder="Recipe Type">
                <option value="entree">Entree</option>
                <option value="side">Side</option>
                <option value="sauce">Sauce</option>
            </select>
            <br>
            <input type="submit" class="button" value="Add Recipe">
        </form>
    </div>
    <div style="position:absolute; top:5px; right:50px">
        <h2><a href="/recipes/new">Add New Recipe</a></h2>
        <h2><a href="/ingredients/search">Search by Ingredient</a></h2>
        <h2><a href="/recipes/list">List All Recipes</a></h2>
        <h2><a href="/recipes/update">Recipe Diary</a></h2>
    </div>
</body>

</html>
